<div class="container">
  <div class="row">
    <div class="col" *ngFor="let city of cities">
      <card>
        <ng-container content-type="card-header">
          <h5>{{city}}</h5>
        </ng-container>
        <ng-container content-type="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </ng-container>
      </card>
    </div>
  </div>
</div>
